$mainColor: #202124;
$greyFont: #80868b;
$yellowButton: #fbbc04;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: lightblue;
  font-family: 'Montserrat', sans-serif;
}
main{
  @include flexCenter();
  flex-direction: column;
}
.note{
  background-color: brown;
  margin: 2px;
  min-height: 20px;
  min-width: 20px;
}
#addNote{
  background-color: $mainColor;
  display: flex;
  width: 250px;
  justify-content: space-between;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  color: white;
  font-weight: 700;

  &>span{
    margin: 0 10px;
  }

  &>button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: $yellowButton;
    font-size: 30px;
    transition: 0.05s;
    @include flexCenter();
    cursor: pointer;

    &:hover{
      background-color: lighten($yellowButton, 10%);
    }
    &:active{
      transform: scale(0.95);
    }
  }
}

#newNotePanel{
  background-color: $mainColor;
  width: 500px;
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  position: relative;

  &>input{
    background: none;
    border: none;
    width: 100%;
    height: 30px;
    color: white;
    outline: none;
    font-weight: 550;
    font-size: 14px;

    &::placeholder{
      color: $greyFont;
    }
  }
}

#colorWrapper{
  position: relative;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  @include flexCenter();
  cursor: pointer;
  
  &>span{
    color: $greyFont;
    font-weight: 600;
    font-size: 14px;
    z-index: 0;
    
    &:hover{
      color: white;
    }    
  }
 
}

#noteColorInput{
  width: 105px !important;
  position: absolute;
  border-radius: 50% !important;
  height: 30px !important;
  border: none;
  opacity: 0;
}

.visible{
  display: flex !important;
}
.rotate{
  transform: rotate(45deg) !important;
}
#newNoteButton{
  margin-left: auto;
  background-color: $yellowButton;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  @include flexCenter();
  font-weight: 550;
  font-size: 14px;
  cursor: pointer;
  display: none;
  
  &:hover{
    background-color: lighten($yellowButton, 10%);
  }
  &:active{
    transform: scale(0.95);
  }
}

#pinnedNotes{
  background-color: red;
  padding: 20px;
}
#unpinnedNotes{
  background-color: blue;
  padding: 20px;
}
#pinNote{
  position: absolute;
  top: 0;
  right: 0;
  height: 30px !important;
  width: 30px !important;
  margin: 15px;
}
