$mainColor: #202124;
$greyFont: #80868b;
$yellowButton: #fbbc04;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin lightgrayBorder{
  border: 1px solid #80868b;
}

body {
  background: #202124;
  font-family: 'Montserrat', sans-serif;
}
main{
  @include flexCenter();
  flex-direction: column;
}
.note{
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: fit-content;
  max-width: 210px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  transition: 0.15s linear;
  position: relative;

  @if background-color==$mainColor{
    @include lightgrayBorder();
  }

  &>h2{
    margin-bottom: 15px;
    margin-top: 0;
    margin-right: 10px;
    outline: none;
  }
  
  &>span{
    width: 100%;
    font-size: 10px;
    text-align: right;
    margin-top: 15px;
  }
  
  &>p{
    word-wrap: break-word;
    margin: 0;
    max-width: 210px;
    border: none;
    height: auto;
    outline: none;
    min-width: 50px;
    overflow: hidden;
  }
  
  &:hover{
    transform: scale(1.05);
    
    &>button{
      visibility: visible;
    }
  }
}
.deleteBtn{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px;
    background: none;
    border: none;
    color: white;
    transform: rotate(45deg);
    font-size: 20px;
    visibility: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover{
      transform: scale(1.2) rotate(45deg);
    }
}
.pinBtn{
    position: absolute;
    right: 4px;
    top: 20px !important;
    margin: 0px;
    background: none;
    border: none;  
    font-size: 20px;
    visibility: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;

    & > i{
      color: white;
      font-size: 15px;
      margin: 0 !important;
      padding: 0;

      &::before{
        margin: 0;
      }
    }

    &:hover{
      transform: scale(1.1);
    }
}

#addNote{
  background-color: $mainColor;
  display: flex;
  width: 250px;
  justify-content: space-between;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  color: white;
  font-weight: 700;
  @include lightgrayBorder();
  margin: 10px;

  &>span{
    margin: 0 10px;
  }

  &>button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: $yellowButton;
    font-size: 30px;
    transition: 0.05s;
    @include flexCenter();
    cursor: pointer;

    &:hover{
      background-color: lighten($yellowButton, 10%);
    }
    &:active{
      transform: scale(0.95);
    }
  }
}

#newNotePanel{
  background-color: $mainColor;
  width: 500px;
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  @include lightgrayBorder();

  &>input{
    background: none;
    border: none;
    width: 80%;
    height: 30px;
    color: white;
    outline: none;
    font-weight: 550;
    font-size: 14px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
      transition: background-color 5000s;
      -webkit-text-fill-color: #fff !important;
    }

    &::placeholder{
      color: $greyFont;
    }
  }
}

#colorWrapper{
  position: relative;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  @include flexCenter();
  cursor: pointer;
  
  &>span{
    color: $greyFont;
    font-weight: 600;
    font-size: 14px;
    z-index: 0;
    
    &:hover{
      color: white;
    }    
  }
 
}

#noteColorInput{
  width: 105px !important;
  position: absolute;
  border-radius: 50% !important;
  height: 30px !important;
  border: none;
  opacity: 0;
}

.visible{
  display: flex !important;
}
.rotate{
  transform: rotate(45deg) !important;
}
#newNoteButton{
  margin-left: auto;
  background-color: $yellowButton;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  @include flexCenter();
  font-weight: 550;
  font-size: 14px;
  cursor: pointer;
  display: none;
  
  &:hover{
    background-color: lighten($yellowButton, 10%);
  }
  &:active{
    transform: scale(0.95);
  }
}
#pinnedNotesWrapper{
  width: 80%;
  padding: 20px;
  @include lightgrayBorder();
  border-radius: 10px;
  display: flex;
  flex-direction: column;
    
  &>h2{
    color: $greyFont;
    margin: 5px 0px;
  }
}
#pinnedNotes{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#unpinnedNotes{
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#checkboxWrapper{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  display: flex;
  align-items: center;
  color: $greyFont;
  font-weight: 600;
  
  &>input{
    height: 20px !important;
    width: 20px !important;
  }
  &>label{
    font-size: 12px;
  }
}

